*{
    font-family:  Helvetica, sans-serif;
}

.navBar{
    display: flex;
    justify-content: center;
}
.navElements{
    display: inline-block;
    margin: 20px 90px 0px 0px;
    font-size: 21px;
    
}
#login{
    font-size: 21px;
    background-color: rgb(90, 241, 90);
}
